<div hx-swap-oob="afterbegin:#timeline">
  <div class="card mb-2 shadow-sm" id="tweet-{{t.id}}">
    <div class="card-body">
      <div class="d-flex">
        <img class="me-4" alt="" src={{t.avatar}} width="108"/>
        <div>
          <h5 class="card-title text-muted">
            {{t.username}}
            <small>{{t.time}}</small>
          </h5>
          <div class="card-text lead mb-2">
            {{t.message}}
          </div>
          {% include "_retweets.html" %}
          {% include "_likes.html" %}
        </div>
      </div>
    </div>
  </div>
</div>
